<!DOCTYPE html>
<html>

    <link rel="stylesheet" href="/static/main.css">

    <head>
        <title> lisää profiilikuva </title>
    </head>

    <body>
        <h1> lisää profiilikuva </h1>
    
        <p> lähetä jpg-tiedosto, jonka koko on enitään 100kt </p>

        <form action="/add_image" method="post" enctype="multipart/form-data">
            <p>
                kuva: <input type="file" name="image" accept=".jpg"/>
            </p>
        
            <input type="submit" value="lähetä"/>
        </form>
    </body>

</html>