<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title> lisää profiilikuva </title>
    </head>

    <body>
        <header class="form-header">
        <nav class="navigation-icons">
            <a class="navigation-icon" href="/" title="Kotisivuun">
                &#127968;
            </a>
            <a class="navigation-icon" href="/search" title="Haku">
            &#128269;
            </a>
            {% if session.user_id %}
                <a class="navigation-icon" href="/user/{{session.user_id}}" title="Käyttäjäsivuun">
                    &#128100;
                </a>
                <a class="navigation-icon" href="/logout" title="Kirjaudu ulos">
                    &#128694;
                </a>
                <a class="navigation-icon" href="/new" title="Uusi resepti">
                    &#128221;
                </a>
            {% else %}
                <a class="navigation-icon" href="/login" title="Kirjaudu sisään">
                    &#128100;
                </a>
            {% endif %}
            <a class="navigation-icon" href="/register" title="Luo tunnus">
                &#128587;
            </a>
        </nav>
        <h1 class="search-form-title">Lisää profiilikuva</h1>
        </header>

        <main class="forum-main">
            {% for message in get_flashed_messages() %}
                <div class="login-tip">
                    <span class="flash-message">
                        <em>
                            {{ message }}
                        </em> 
                    </span>
                </div>
            {% endfor %}
        
            <p class="login-tip">Lähetä jpg-tiedosto, jonka koko on enitään 100kt.</p>

            <form class="registration-form" action="/add_image" method="post" enctype="multipart/form-data">
                <p>
                    <label for="image"> Kuva: </label>
                    <input type="file" name="image" accept=".jpg"/>
                </p>
            
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>
                <input type="submit" value="Lähetä"/>
            </form>

            <p class="cancel-button">
                <a  href="{{next_page}}"><button>Peruuta</button></a>
            </p>
        </main>

        <span class="main-footer">
            <footer class="form-footer">
            </footer>
        </span>
    </body>

</html>