<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title> lisää profiilikuva </title>
    </head>

    <body>
        <header class="form-header">
            <h1 class="form-title">Lisää profiilikuva</h1>
        </header>
    
        <p class="login-tip">Lähetä jpg-tiedosto, jonka koko on enitään 100kt.</p>

        <form class="registration-form" action="/add_image" method="post" enctype="multipart/form-data">
            <p>
                <label for="image"> Kuva: </label>
                <input type="file" name="image" accept=".jpg"/>
            </p>
        
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>
            <input type="submit" value="Lähetä"/>
        </form>

        <span class="main-footer">
            <footer class="form-footer">
            </footer>
        </span>
    </body>

</html>