<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title> Kommentti </title>
    </head>

    <body>

        <header class="form-header">
            <h1 class="form-title"> Komentin kirjoittaminen </h1>
        </header>

        {% if session.user_id %}

            <form class="search-form" action="/comment/{{recipe.id}}" method="POST">
                <p>
                    <label for="comment">Kommenttisi:</label> <br>
                    <textarea name="comment" rows="3" cols="40" maxlength="300" required></textarea>
                </p>

                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>

                <p>
                    <input type="submit" value="Lähetä" />
                </p>
            </form>

        {% else %}

        <p> Sinun on <a href="login">kirjauduttava sisään</a>, jotta voit kommentoida.  </p>

        {% endif %}

        <span class="main-footer">
            <footer class="form-footer">
            </footer>
        </span>
    </body>
</html>