<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Poista kommentti?</title>
    </head>

    <body>
        <header class="form-header">
            <nav class="navigation-icons">
                <a class="navigation-icon" href="/" title="Kotisivuun">
                    &#127968;
                </a>
                <a class="navigation-icon" href="/search" title="Haku">
                &#128269;
                </a>
                {% if session.user_id %}
                    <a class="navigation-icon" href="/user/{{session.user_id}}" title="Käyttäjäsivuun">
                        &#128100;
                    </a>
                    <a class="navigation-icon" href="/logout" title="Kirjaudu ulos">
                        &#128694;
                    </a>
                    <a class="navigation-icon" href="/new" title="Uusi resepti">
                        &#128221;
                    </a>
                {% else %}
                    <a class="navigation-icon" href="/login" title="Kirjaudu sisään">
                        &#128100;
                    </a>
                {% endif %}
                <a class="navigation-icon" href="/register" title="Luo tunnus">
                    &#128587;
                </a>
            </nav>
        </header>

        <form  class="registration-form" action="/delete_comment/{{comment.id}}" method="post">
            <p>
                Haluatko varmasti poistaa kommentisi? :(
            </p>

            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>

            <p>
            <input class="button" type="submit" name="continue" value="Jatkaa"/>
            <input class="button" type="submit" name="cancel" value="Peruuta"/>
            </p>
        </form>

        <span class="main-footer">
            <footer class="form-footer">
            </footer>
        </span>
    </body>

</html>