<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Poista resepti?</title>
    </head>

    <body>
        <header class="recipe-header">
        </header>

        <form class="registration-form" action="/delete/{{recipe.id}}" method="post">
            <p>
                Haluatko varmasti poistaa tämän reseptin? :(
            </p>

            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>

            <p>
            <input class="button" type="submit" name="continue" value="Jatkaa"/>  
            <input class="button" type="submit" name="cancel" value="Peruuta"/>
            </p>
        </form>

        <span class="main-footer">
            <footer class="form-footer">
            </footer>
        </span>
    </body>
</html>