<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/main.css">
    <title>Reseptin muoakkaus</title>
  </head>

  <body>
    {% if session.user_id == recipe.user_id and recipe.status == 1 %}

      <header class="form-header">
          <nav class="navigation-icons">
              <a class="navigation-icon" href="/" title="Kotisivuun">
                  &#127968;
              </a>
              <a class="navigation-icon" href="/search" title="Haku">
              &#128269;
              </a>
              {% if session.user_id %}
                  <a class="navigation-icon" href="/user/{{session.user_id}}" title="Käyttäjäsivuun">
                      &#128100;
                  </a>
                  <a class="navigation-icon" href="/logout" title="Kirjaudu ulos">
                      &#128694;
                  </a>
                  <a class="navigation-icon" href="/new" title="Uusi resepti">
                      &#128221;
                  </a>
              {% else %}
                  <a class="navigation-icon" href="/login" title="Kirjaudu sisään">
                      &#128100;
                  </a>
              {% endif %}
              <a class="navigation-icon" href="/register" title="Luo tunnus">
                  &#128587;
              </a>
          </nav>
          <h1 class="search-form-title">Reseptin muokaus</h1>
      </header>

      <main>
        <form class="login-form" action="/edit/{{ recipe.id }}" method="post">

          <p>
            <label for="title">Otsikko:</label><br>
            <textarea name="title" rows="1" cols="40" maxlength="50" required>{{ recipe.title }}</textarea>
          </p>
          
          <p>
            <label for="ingredients">Ainesosat:</label><br>
            <textarea name="ingredients" rows="3" cols="40" maxlength="500" required>{{ recipe.ingredients }}</textarea>
          </p>

          <p>
            <label for="instructions">Ohjeet:</label><br>
            <textarea name="instructions" rows="10" cols="40" maxlength="1000" required>{{ recipe.instructions }}</textarea>
          </p>

          <p> Valitse tagit: </p>

          <div>
            {% for tag in ["vegetaarinen", "vegaaninen", "laktoositon", "gluteeniton"] %}
              {% if tag in tags %}
                <input type="checkbox" name="tags" value={{tag}} checked/> {{tag}}
              {% else %}
                <input type="checkbox" name="tags" value={{tag}}/> {{tag}}
              {% endif %}
            {% endfor %}
          </div>

          <p>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
          <input type="submit" value="Lähetä" />
          </p>
        </form>

        <p class="cancel-button">
            <a  href="{{next_page}}"><button>Peruuta</button></a>
        </p>
      </main>

      <span class="main-footer">
          <footer class="form-footer">
          </footer>
      </span>

    {% else %}

      <p>
        Et voi muokata tätä reseptiä.
      </p>

    {% endif%}
  </body>

</html>