<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/main.css">
    <title>Kirjautuminen</title>
  </head>

  <body>

    <header class="form-header">
      <h1 class="form-title">Kirjautuminen</h1>
    </header>

    {% for message in get_flashed_messages() %}
      <span class="flash-message">
        <div class="form-flash-message">
          <em>
            {{ message }}
          </em>
        </div>
      </span>
    {% endfor %}

    {% if session.user_id %}
  
      <p class="login-form"> 
        <br>
        Olet kirjautunut sisään. <a href="/logout">Kirjaudu ulos</a> 
      </p>

    {% else %}

      <p class="login-tip"> Jos sinulla ei vielä ole tiliä, voit luoda sen <a href="/register">täällä</a> </p>
    
      <form class="login-form" action="/login" method="post">
        <p>
          <label for="username">Tunnus:</label> <br>
          <input type="text" name="username" />
        </p>

        <p>
          <label for="password">Salasana:</label> <br>
          <input type="password" name="password" />
        </p>

        <input type="submit" value="Kirjaudu" />
      </form>

    {% endif %}

    <span class="main-footer">
      <footer class="form-footer">
      </footer>
    </span>

  </body>
</html>
