<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/static/main.css">

{% if next_page %}
<input type="hidden" name="next_page" value="{{ next_page }}" />
{% else %}
<input type="hidden" name="next_page" value="/" />
{% endif %}


<head>
  <title>Kirjautuminen</title>
</head>

<body>

  {% for message in get_flashed_messages() %}
  <i><h3>{{ message }}</h3></i>
  {% endfor %}

  {% if session.user_id %}  
  <p> Olet kirjautunut sisään. </p>
  <p> <a href="/logout">Kirjaudu ulos</a> </p>

  {% else %}

  <p> Jos sinulla ei vielä ole tiliä, voit luoda sen <a href="/register">täällä</a> </p>

  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>

    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>

    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}

</body>
</html>
