<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/main.css">
    <title>Kirjautuminen</title>
  </head>

  <body>

    <header class="form-header">
      <nav class="navigation-icons">
        <a class="navigation-icon" href="/" title="Kotisivuun">
            &#127968;
        </a>
        <a class="navigation-icon" href="/search" title="Haku">
          &#128269;
        </a>
        {% if session.user_id %}
            <a class="navigation-icon" href="/user/{{session.user_id}}" title="Käyttäjäsivuun">
                &#128100;
            </a>
            <a class="navigation-icon" href="/logout" title="Kirjaudu ulos">
                &#128694;
            </a>
            <a class="navigation-icon" href="/new" title="Uusi resepti">
                &#128221;
            </a>
        {% else %}
            <a class="navigation-icon" href="/login" title="Kirjaudu sisään">
                &#128100;
            </a>
        {% endif %}
        <a class="navigation-icon" href="/register" title="Luo tunnus">
            &#128587;
        </a>
      </nav>
      <h1 class="search-form-title"> Kirjautuminen </h1>
    </header>

    <main>
      {% for message in get_flashed_messages() %}
        <span class="flash-message">
          <div class="form-flash-message">
            <em>
              {{ message }}
            </em>
          </div>
        </span>
      {% endfor %}

      {% if session.user_id %}
    
        <p class="login-form"> 
          <br>
          Olet kirjautunut sisään. <a href="/logout">Kirjaudu ulos</a> 
        </p>

      {% else %}

        <p class="login-tip"> Jos sinulla ei vielä ole tiliä, voit luoda sen <a href="/register">täällä</a> </p>
      
        <form class="login-form" action="/login" method="post">
          <p>
            <label for="username">Tunnus:</label> <br>
            <input type="text" name="username" />
          </p>

          <p>
            <label for="password">Salasana:</label> <br>
            <input type="password" name="password" />
          </p>

          {% if next_page %}
            <input type="hidden" name="next_page" value="{{ next_page }}" />
          {% else %}
            <input type="hidden" name="next_page" value="/" />
          {% endif %}

          <input type="submit" value="Kirjaudu" />
        </form>

        <p class="cancel-button">
          <a  href="{{next_page}}"><button>Peruuta</button></a>
        </p>
      </main>

    {% endif %}

    <span class="main-footer">
      <footer class="form-footer">
      </footer>
    </span>

  </body>
</html>
