<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Reseptisovellus</title>
    </head>

    <body> 

        <header class="main-header">
            <div class="main-stats">
                <center>
                    <em>Sivua on ladattu {{visits}} kertaa. Viimeiksi ladattu {{date}}.</em>
                </center>
            </div>

            <aside>
                <nav>
                    <ul class="main-navigation">
                        <li class="navigation-button">
                            <a href="/register">Luo tunnus &#128587;</a>
                        </li>

                        {% if session.user_id %}

                        <li class="navigation-button">
                            <a href="/logout">Kirjaudu ulos &#128694;</a>
                        </li> 

                        <li class="navigation-button">
                            <a href="/user/{{session.user_id}}">Käyttäjäsivuun &#128100;</a>
                        </li>

                        {% else %}

                        <li class="navigation-button">
                            <a href="/login">Kirjaudu sisään &#128100;</a>
                        </li>

                        {% endif %}

                        <li class="navigation-button">
                            <a href="/search">Haku &#128269;</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <h1 class="main-title"> Reseptisovellus </h1>
        </header>

        <main>

            <div class="main-rightbox">
                {% for message in get_flashed_messages() %}
                    <span class="flash-message">
                        <em>
                            {{ message }}
                        </em> 
                    </span>
                {% endfor %}

                    <p>
                        Täällä hetkeellä {{count}} reseptejä. 

                        {% if session.user_id %} 

                            <a href="/new">Uusi resepti &#128221;</a> <br> 

                        {% else %}

                        Sinun on <a href="/login">kirjauduttava sisään</a>, jotta voit lisätä reseptejä.

                        {% endif %}
                    </p>                                           
            </div>

                <div class="recipes">

                    {% if count > 0 %}
                        <h2 class="main-subtitle">
                            <center>
                                Viimeisimmät reseptit:
                            </center>
                        </h2>
                    {% endif %}

                    {% for recipe in recipes %}
                        <p>
                            <a class="recipe-title" href="/recipe/{{recipe.id}}">{{recipe.title}}</a>
                            <br>
                            <span class="recipe-info">
                                <a href="/user/{{recipe.user_id}}">{{recipe.username}}</a>  ({{recipe.date}}) <br>
                            </span>
                        </p>
                        <hr>
                    {% endfor %}
                </div>
            
        </main>

        <footer class="main-footer">
            <center>
                <p>
                    <a class="nav-arrows" href="/{{page-1}}">&lt;&lt;</a>
                    Sivu {{page}}/{{page_count}}
                    <a class="nav-arrows" href="/{{page+1}}">&gt;&gt;</a>
                </p>
            </center>
        </footer>

    </body>
</html>