<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Reseptisovellus</title>
    </head>

    <body> 

        <header class="main-header">
            <div class="main-stats">
                <center>
                    <em> Sivua on ladattu {{visits}} kertaa. Viimeiksi ladattu {{date}}.</em>
                </center>
            </div>

            <aside>
                <nav>
                    <ul class="main-navigation">
                        <li class="navigation-button">
                            <a href="/register">Luo tunnus</a>
                        </li>

                        {% if session.user_id %}

                        <li class="navigation-button">
                            <a href="/logout">Kirjaudu ulos</a>
                        </li> 

                        {% else %}

                        <li class="navigation-button">
                            <a href="/login">Kirjaudu sisään</a>
                        </li>

                        {% endif %}

                        <li class="navigation-button">
                            <a href="/search">Haku</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <h1 class="main-title"> Reseptisovellus </h1>
        </header>

        <main>

            <div class="main-rightbox">
                {% for message in get_flashed_messages() %}
                    <span class="flash-message">
                        <em>
                            {{ message }}
                        </em> 
                    </span>
                {% endfor %}

                    <p>
                        Täällä hetkeellä {{count}} reseptejä. 

                        {% if session.user_id %} 

                            <a href="/new">Uusi resepti</a> <br> 

                        {% else %}

                        Sinun on <a href="/login">kirjauduttava sisään</a>, jotta voit lisätä reseptejä.

                        {% endif %}
                    </p>                                           
            </div>

            <div class="recipes">
                <h2 class="main-subtitle">
                    <center>
                        Viimeisimmät reseptit:
                    </center>
                </h2>

                {% for recipe in recipes %}
                    <p>
                        <a class="recipe-title" href="/recipe/{{recipe.id}}">{{recipe.title}}</a>
                        <br>
                        <span class="recipe-info">
                            <a href="/user/{{recipe.user_id}}">{{recipe.username}}</a>  ({{recipe.date}}) <br>
                        </span>
                    </p>
                    <hr>
                {% endfor %}
            </div>
        </main>

        <footer class="main-footer">
            <center>
                <p>
                    <a class="nav-arrows" href="/{{page-1}}">&lt;&lt;</a>
                    Sivu {{page}}/{{page_count}}
                    <a class="nav-arrows" href="{{page+1}}">&gt;&gt;</a>
                </p>
            </center>
        </footer>

    </body>
</html>