<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/main.css">
    <title>Reseptin luominen</title>
  </head>

  <body>
    {% if session.user_id %}

      <header class="form-header">
          <nav class="navigation-icons">
              <a class="navigation-icon" href="/" title="Kotisivuun">
                  &#127968;
              </a>
              <a class="navigation-icon" href="/search" title="Haku">
              &#128269;
              </a>
              {% if session.user_id %}
                  <a class="navigation-icon" href="/user/{{session.user_id}}" title="Käyttäjäsivuun">
                      &#128100;
                  </a>
                  <a class="navigation-icon" href="/logout" title="Kirjaudu ulos">
                      &#128694;
                  </a>
              {% else %}
                  <a class="navigation-icon" href="/login" title="Kirjaudu sisään">
                      &#128100;
                  </a>
              {% endif %}
              <a class="navigation-icon" href="/register" title="Luo tunnus">
                  &#128587;
              </a>
          </nav>
          <h1 class="search-form-title">Reseptin luominen</h1>
      </header>

      <main>
        <form class="login-form" action="/new" method="post">
          <p>
            <label for="title">Otsikko:</label><br>
            <textarea name="title" rows="1" cols="40" maxlength="50" required></textarea>
          </p>

          <p>
            <label for="ingredients">Ainesosat (pilkulla erotettuna):</label><br>
            <textarea name="ingredients" rows="3" cols="40" maxlength="500" required></textarea>
          </p>

          <p>
            <label for="instructions">Ohjeet:</label><br>
            <textarea name="instructions" rows="10" cols="40" maxlength="1000" required></textarea>
          </p>

          <p> Valitse tagit: </p>

          <div>
            <input type="checkbox" name="tags" value="vegetaarinen"/> vegetaarinen
            <input type="checkbox" name="tags" value="vegaaninen"/> vegaaninen
            <input type="checkbox" name="tags" value="laktoositon"/> laktoositon
            <input type="checkbox" name="tags" value="gluteeniton"/> gluteeniton
          </div>

          <input type="hidden" name="csrf_token" value="{{session.csrf_token}}"/>

          <p>
            <input type="submit" value="Lähetä" />
          </p>
          
        </form>

        <p class="cancel-button">
          <a  href="{{next_page}}"><button>Peruuta</button></a>
        </p>
      </main>

      <span class="main-footer">
        <footer class="form-footer">
        </footer>
      </span>

    {% else %}

      <p> Sinun on <a href="login">kirjauduttava sisään</a>, jotta voit lisätä reseptejä.  </p>

    {% endif %}
  </body>
</html>
