<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>{{ recipe.title }}</title>
    </head>

    <body>
        {% if recipe.status == 1 %}

            <header class="recipe-header">
            </header>

            <main class="main-recipe">

                {% for message in get_flashed_messages() %}
                    <span class="flash-message">
                        <em>
                            {{ message }}
                        </em> 
                    </span>
                {% endfor %}

                <p>
                Postaaja: <a href="/user/{{recipe.user_id}}">{{recipe.username}}</a> 
                ({{ recipe.date }})
                <br>

                {% if session.user_id == recipe.user_id %}
                    <a href="/edit/{{recipe.id}}">Muokkaa</a>
                    <a href="/delete/{{recipe.id}}">Poista</a>
                    <br>
                {% endif %}
                </p>

                <!-- они атк поу ебански выглядят... :(-->
                <ul class="tag-list">
                    {% for tag in tags %}
                        <li class="tag">
                            {{tag.name}}
                        </li> 
                    {% endfor %}
                </ul>

                <h1 class="recipe-title">{{ recipe.title }}</h1>


                {% set list = recipe.ingredients.split(',') %}

                <p>
                    <h2 class="recipe-subtitles"> Ainesosat: </h2>
                    <ul>
                        {% for ingredient in list %} 
                            <li> {{ingredient}} </li> 
                        {% endfor %}
                    </ul>
                </p>
                <br>

                <h2 class="recipe-subtitles"> Ohjeet: </h2>
                <div class="recipe-instructions">
                    {{recipe.instructions}}
                </div>
                <br>
             
                <div>
                    {{likes.count}} tykkäystä
                </div>

                <aside class="recipe-aside">
                    <div>
                        <form action="/like/{{recipe.id}}" method="post">
                            <input type="submit" value="Tykkää <3">
                        </form>
                    </div>
                </aside>

                <hr>

                {% if session.user_id %}
                    <a href="/comment/{{recipe.id}}">Jätä kommentti </a>       
                {% else %}
                    <p> Sinun on <a href="/login">kirjauduttava sisään</a>, jotta voit kommentoida.  </p>
                {% endif %}
                <hr>

                {% for comment in comments %}

                    {% if session.user_id == comment.user_id %}
                    <p class="comment-buttons">
                            <a class="comment-button" href="/edit_comment/{{comment.id}}">Muokkaa</a> 
                            <a class="comment-button" href="/delete_comment/{{comment.id}}">Poista</a>
                    </p>
                    {% endif %}
                    
                    <p> 
                        <a href="/user/{{comment.user_id}}">{{comment.username}}</a>
                        ({{comment.sent_at}}): <br>
                    </p>

                    <p class="comment-content">
                    {{comment.content}} <br>   
                    </p>         

                    <hr>

            {% endfor %}

            </main>

            <span class="main-footer">
                <footer class="form-footer">
                </footer>
            </span>

    {% else %}

        <p>
            Reseptia ei löyty
        </p>
        
    {% endif %}

    </body>

</html>