<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>{{ recipe.title }}</title>
    </head>

    <body>
        {% if recipe.status == 1 %}

            <header class="recipe-header">
                <nav class="navigation-icons">
                    <a class="navigation-icon" href="/" title="Kotisivuun">
                        &#127968;
                    </a>
                    <a class="navigation-icon" href="/search" title="Haku">
                        &#128269;
                    </a>
                    {% if session.user_id %}
                        <a class="navigation-icon" href="/user/{{session.user_id}}" title="Käyttäjäsivuun">
                            &#128100;
                        </a>
                        <a class="navigation-icon" href="/logout" title="Kirjaudu ulos">
                            &#128694;
                        </a>
                        <a class="navigation-icon" href="/new" title="Uusi resepti">
                            &#128221;
                        </a>
                    {% else %}
                        <a class="navigation-icon" href="/login" title="Kirjaudu sisään">
                            &#128100;
                        </a>
                    {% endif %}
                    <a class="navigation-icon" href="/register" title="Luo tunnus">
                        &#128587;
                    </a>
                </nav>
            </header>

            <main class="main-recipe">

                {% for message in get_flashed_messages() %}
                    <span class="flash-message">
                        <em>
                            {{ message }}
                        </em> 
                    </span>
                {% endfor %}

                <p>
                Postaaja: <a href="/user/{{recipe.user_id}}">{{recipe.username}}</a> 
                ({{ recipe.date }})
                <br>

                {% if session.user_id == recipe.user_id %}
                    <a href="/edit/{{recipe.id}}">Muokkaa</a>
                    <a href="/delete/{{recipe.id}}">Poista</a>
                    <br>
                {% endif %}
                </p>

                <!-- они атк поу ебански выглядят... :(-->
                <ul class="tag-list">
                    {% for tag in tags %}
                        <li class="tag">
                            {{tag.name}}
                        </li> 
                    {% endfor %}
                </ul>

                <h1 class="recipe-title">{{ recipe.title }}</h1>


                {% set list = recipe.ingredients.split(',') %}

                <p>
                    <h2 class="recipe-subtitles"> Ainesosat: </h2>
                    <ul>
                        {% for ingredient in list %} 
                            <li class="recipe-ingredient"> {{ingredient}} </li> 
                        {% endfor %}
                    </ul>
                </p>
                <br>

                <h2 class="recipe-subtitles"> Ohjeet: </h2>
                <div class="recipe-instructions">
                    {{recipe.instructions | show_lines}}
                </div>
                <br>
             
                <div>
                    {{likes.count}} tykkäystä
                </div>

                <aside class="recipe-aside">
                    <div>
                        <form action="/like/{{recipe.id}}" method="post">
                            <input type="submit" value="♡ Tykkää">
                        </form>
                    </div>
                </aside>

                <hr>

                {% if session.user_id %}
                    <a href="/comment/{{recipe.id}}">Jätä kommentti &#128221;</a>       
                {% else %}
                    <p> Sinun on <a href="/login">kirjauduttava sisään</a>, jotta voit kommentoida.  </p>
                {% endif %}
                <hr>

                {% for comment in comments %}

                    {% if session.user_id == comment.user_id %}
                    <p class="comment-buttons">
                            <a class="comment-button" href="/edit_comment/{{comment.id}}">Muokkaa</a> 
                            <a class="comment-button" href="/delete_comment/{{comment.id}}">Poista</a>
                    </p>
                    {% endif %}
                    
                    <p> 
                        <a href="/user/{{comment.user_id}}">{{comment.username}}</a>
                        ({{comment.sent_at}}): <br>
                    </p>

                    <p class="comment-content">
                    {{comment.content | show_lines}} <br>   
                    </p>         

                    <hr>

            {% endfor %}

            </main>

            <footer class="main-footer">
                <center>
                    <p>
                        <a class="nav-arrows" href="/recipe/{{recipe.id}}/{{page-1}}">&lt;&lt;</a>
                        Sivu {{page}}/{{page_count}}
                        <a class="nav-arrows" href="/recipe/{{recipe.id}}/{{page+1}}">&gt;&gt;</a>
                    </p>
                </center>
            </footer>

    {% else %}

        <p>
            Reseptia ei löyty
        </p>
        
    {% endif %}

    </body>

</html>