<!DOCTYPE html>
<html>

    <link rel="stylesheet" href="/static/main.css">

    {% if recipe.status == 1 %}

        {% for message in get_flashed_messages() %}
        <i><h3>{{ message }}</h3></i>
        {% endfor %}

        <a href="/user/{{recipe.user_id}}">{{recipe.username}}</a> ({{ recipe.date }})

        <head>
            <title>{{ recipe.title }}</title>
        </head>

        <body>

            <div><h2>{{ recipe.title }}</h2></div>

            <p>
            {% for tag in tags %}

                <i>{{tag.name}}</i> 

            {% endfor %}
            </p>

            <div>
            <h4> ainesosat </h4>
            {% set list = recipe.ingredients.split(',') %}

            {% for ingredient in list %} 

                <li> {{ingredient}} </li> 

            {% endfor %}
            </div>
            <br />

            <h4> ohjeet </h4>
            <div>
            {{recipe.instructions}}
            </div>
            <br />
        
        </body>

        {% if session.user_id == recipe.user_id %}
        
            <a href="/edit/{{recipe.id}}">muokkaa</a>
            <a href="/delete/{{recipe.id}}">poista</a>
            <br />

        {% endif %}

        <hr />

        <p style="text-align:left;">
            {{likes.count}} likes
            <span style="float:right;">
                <form action="/like/{{recipe.id}}" method="post">
                    <input type="submit" value="tykkää <3">
                </form>
            </span>
        </p>

        <hr />

        {% if session.user_id %}

            <a href="/comment/{{recipe.id}}"> jätä kommentti </a>       

        {% else %}

            <p> sinun on <a href="/login">kirjauduttava sisään</a>, jotta voit kommentoida.  </p>

        {% endif %}

        <hr />

        <body>

            {% for comment in comments %}

             <a href="/user/{{comment.user_id}}">{{comment.username}}</a> ({{comment.sent_at}}) <br />
            {{comment.content}} <br />

            {% if session.user_id == recipe.user_id %}
            <a href="/edit_comment/{{comment.id}}">muokkaa</a>  <a href="/delete_comment/{{comment.id}}">poista</a>
            {% endif %}

            <hr />

            {% endfor %}

        </body>

    {% else %}

        reseptia ei löyty

    {% endif %}

</html>