<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title> Haku </title>
    </head>

    <body>
        <header class="form-header">
            <h1 class="form-title"> Haku </h1>
        </header>

        {% for message in get_flashed_messages() %}
        <span class="flash-message">
            <div class="form-flash-message">
            <em>
                {{ message }}
            </em>
            </div>
        </span>
        {% endfor %}

        <form class="search-form" action="/search" method="get">
            <p>
                <label for="query">Hakusana:</label>
                {% if query %}
                    <input type="text" name="query" value="{{query}}" maxlength="50" required/>
                {% else %}
                    <input type="text" name="query"/>
                {% endif %}
            </p>

            <p>Sisältää tagit:</p>
            <div>
                <input type="checkbox" name="tags" value="vegetaarinen"
                {% if "vegetaarinen" in tags %} checked {% endif %}/> Vegetaarinen

                <input type="checkbox" name="tags" value="vegaaninen"
                {% if "vegaaninen" in tags %} checked {% endif %}/> Vegaaninen

                <input type="checkbox" name="tags" value="laktoositon"
                {% if "laktoositon" in tags %} checked {% endif %}/> Laktoositon

                <input type="checkbox" name="tags" value="gluteeniton"
                {% if "gluteeniton" in tags %} checked {% endif %}/> Gluteeniton
            </div>
            
            <p>
                <input type="submit" value="Hae"/>
            </p>
        </form>

        {% if query %}
                <hr>
                <h2 class="search-title"> Tulokset </h2>

                {% for result in results %}
                    <p class="search-results">
                        <a class="recipe-title" href="/recipe/{{result.recipe_id}}">{{result.title}}</a>
                        <br>
                        <span class="recipe-info">
                            <a href="/user/{{result.user_id}}">
                                {{result.username}}
                            </a> 
                            ({{ result.date }})
                        </span>
                    </p>
                    <hr>
                {% endfor %}
        {% endif %}

        <span class="main-footer">
            <footer class="form-footer">
            </footer>
        </span>
    </body>
</html>
