<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title> Käyttäjä {{user.username}} </title>
    </head>

    <body>
        <header class="recipe-header">
        </header>

        <main class="main-recipe">
            <h1> Käyttäjä {{user.username}} </h1>
        
            {% if user.has_image %}
                <img class="user-profile-picutre" src="/user/image/{{ user.id }}"/>
            {% endif %}

            {% if user.id == session.user_id %}
                <p>
                    <a href="/add_image">Lisää profiilikuva</a>
                </p>
            {% endif %}

            {% set n = recipes | count %}

            {% if n == 1 %}
                <p>
                    Käyttäjä on postannut {{ n }} reseptin.
                </p>
            {% else %}
                <p>
                    Käyttäjä on postannut {{ n }} reseptiä.
                </p>
            {% endif %}

            {% for recipe in recipes %}
                <li> <a href="/recipe/{{recipe.id}}">{{recipe.title}}</a> </li>
            {% endfor %}
        </main>

        <span class="main-footer">
            <footer class="form-footer">
            </footer>
        </span>
    </body>
</html>