<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title> Käyttäjä {{user.username}} </title>
    </head>

    <body>
        <header class="recipe-header">
            <nav class="navigation-icons">
                <a class="navigation-icon" href="/" title="Kotisivuun">
                    &#127968;
                </a>
                <a class="navigation-icon" href="/search" title="Haku">
                    &#128269;
                </a>
                {% if session.user_id %}
                    <a class="navigation-icon" href="/user/{{session.user_id}}" title="Käyttäjäsivuun">
                        &#128100;
                    </a>
                    <a class="navigation-icon" href="/logout" title="Kirjaudu ulos">
                        &#128694;
                    </a>
                    <a class="navigation-icon" href="/new" title="Uusi resepti">
                        &#128221;
                    </a>
                {% else %}
                    <a class="navigation-icon" href="/login" title="Kirjaudu sisään">
                        &#128100;
                    </a>
                {% endif %}
                <a class="navigation-icon" href="/register" title="Luo tunnus">
                    &#128587;
                </a>
            </nav>
        </header>

        <main class="main-recipe">
            <h1 class="title-username"> Käyttäjä {{user.username}} </h1>
        
            {% if user.has_image %}
                <img class="user-profile-picutre" 
                src="/user/image/{{ user.id }}" 
                alt="Käyttäjän {{ user.username }} kuva"
                title="Käyttäjän {{ user.username }} kuva"/>
            {% endif %}

            {% if user.id == session.user_id %}
                <p>
                    <a href="/add_image">Lisää profiilikuva</a>
                </p>
            {% endif %}

            {% if recipe_count == 1 %}
                <p>
                    Käyttäjä on postannut {{ recipe_count }} reseptin.
                </p>
            {% else %}
                <p>
                    Käyttäjä on postannut {{ recipe_count }} reseptiä.
                </p>
            {% endif %}

            {% for recipe in recipes %}
                <li> <a href="/recipe/{{recipe.id}}">{{recipe.title}}</a> </li>
            {% endfor %}
        </main>

        <footer class="main-footer">
            <center>
                <p>
                    <a class="nav-arrows" href="/user/{{user.id}}/{{page-1}}">&lt;&lt;</a>
                    Sivu {{page}}/{{page_count}}
                    <a class="nav-arrows" href="/user/{{user.id}}/{{page+1}}">&gt;&gt;</a>
                </p>
            </center>
        </footer>
    </body>
</html>